.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(234, 238, 242, 0.696);
  height: 100vh;
}

.header-text {
  display: flex;
  align-items: center;
  justify-content: center;
  /* add the above two properties */
  font-weight: bold;
  color: white;
  font-size: auto;
  font-family: 'Lucida Console', 'Courier New', monospace;
  margin-left: 70px;
}

.header.transparent {
  background-color: rgb(255, 255, 255);
}

.header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 8%;
  padding: 4px 16px;
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.path-box {
  border-radius: 300px;
  position: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 220px;
  margin: 0 16px;
  padding: 10px;
  background-color: #eff0ebe0;
  color: rgb(10, 10, 10);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  overflow: wrap;
  transition: all 0.2s;
  background-size: 100% 100% !important;
  border: none;
}
.path-box:hover {
  transform: scale(1.1);
}

.paths-container {
  width: 100vw;
  max-height: 100vh;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0;
  padding-top: 0%;
}

.path-content {
  width: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
}
.path-title {
  width: auto;
  font-family: 'Lucida Console', 'Courier New', monospace;
  font-size: 25px;
  font-weight: 1100;
  margin-top: 0.01px;
  margin-bottom: 0.01px;
  margin-left: 1px;
  margin-right: 1px;
  white-space: normal;
  color: #fff;
  z-index: 1;
}

.posts-container {
  max-width: 100vw;
  max-height: 40vh;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
  margin-top: 60vh;
}
.post-page-detail {
  padding-top: 15vh;
}

.post-box {
  /* border-radius: 25px; */
  /* border-radius: 25px; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  width: 90vw;
  margin: 2vh;
}

.alignLeft {
  padding-left: 87px;
}

.alignButtonRight {
  padding-right: 295px;
  display: flex;
  justify-content: flex-end;
}

.separateButton {
  padding-right: 20px;
}

.search-bar {
  background-color: rgba(170, 164, 239, 0.451);
  position: fixed;
  margin-top: 11vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  height: 10%;
  left: 5%;
  right: 5%;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(115, 116, 125, 0.141);
}

.inputfield {
  width: 40%;
  left: -4%;
}

.filterfield {
  width: 40%;
  columns: 5;
  justify-content: space-between;
  z-index: 4;
}

.main {
  width: 100%;
  height: 58vh;
  display: grid;
  object-fit: fill;
}

video {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  display: flex;
  -webkit-filter: grayscale(40%);
  filter: grayscale(40%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.content {
  font-size: 30px;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  top: -6%;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: 'Lucida Console', 'Courier New', monospace;
}

.content h1,
.content p {
  margin: 0;
}
.content h1 {
  width: 9ch;
  border-right: solid 1px #fff;
  white-space: nowrap;
  overflow: hidden;
  animation: cursor 1s infinite step-end, text 3s steps(9);
}
.content p {
  width: 22ch;
  border-right: solid 1px #fff;
  white-space: nowrap;
  overflow: hidden;
  animation: cursor 1s infinite step-end, text 3s steps(22);
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@keyframes text {
  from {
    width: 0;
  }
}
@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
    transform: perspective(400px) rotateX(-10deg);
  }
  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
    transform: perspective(400px) rotateX(10deg);
  }
  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}
@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    -ms-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
    -ms-transform: perspective(400px) rotateX(-10deg);
    transform: perspective(400px) rotateX(-10deg);
  }
  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
    -ms-transform: perspective(400px) rotateX(10deg);
    transform: perspective(400px) rotateX(10deg);
  }
  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    -ms-transform: perspective(400px) rotateX(0deg);
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}
.flipInX {
  -webkit-backface-visibility: visible !important;
  -ms-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.ProseMirror {
  min-height: 400px;
}

.personalize-button {
  position: fixed;
  display: flex;
  align-items: center;
  left: 5%;
  right: 5%;
  justify-content: center;
  top: 23vh;
}

.submit-questionnaire-button {
  padding-top: 10px;
  justify-content: center;
  position: relative;
}

.results {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.resultsbg,
.questionnairebg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./images/resultsbackground.png) center center no-repeat;
  filter: blur(4px);
  background-size: 100% 100%;
  z-index: -1;
}
.results .particles-bg-canvas-self {
  z-index: 1 !important;
}

.results-main {
  position: absolute;
  left: 20px;
  bottom: 20px;
  z-index: 2;
  width: calc(100% - 40px);
  height: calc(100% - 104px);
  overflow-y: scroll;
}
.results-main::-webkit-scrollbar {
  width: 6px;
}
.results-main::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  opacity: 0.2;
  background: #000;
}
.results-main::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
}
.results-main-title {
  color: #fff;
}
.results-circle {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  text-align: center;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px auto 0;
}
.results-circle1,
.extracurriculars1 {
  background-color: #ff6b71;
}
.results-circle2,
.extracurriculars2 {
  background-color: #70b5ec;
}
.results-avatar {
  margin: 0 auto;
  height: 40px;
}
.results-avatar > div {
  background: none;
  color: #000;
}
.extracurriculars {
  border-radius: 20px;
  margin: 20px auto 0;
  width: 80%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.input-box {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
}

.input-container {
  padding-top: 20px;
}

.gpa {
  padding-bottom: 10px;
}

.questions {
  max-width: 1300px;
  justify-content: center;
}

.buttons {
  padding-top: 10px;
  padding-left: 200px;
}

.gpa-card {
  padding-left: 50px;
}

.test-score-card {
  padding-left: 50px;
}

.cards {
  padding-left: 50px;
}

.test-score-card {
  padding-left: 50px;
}

.questionnaire {
  min-height: 100vh;
}
.questionnaire .questionnairebox {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.questionnaire .questionnairebox form {
  padding: 0 30px 20px;
}

.results-container {
  display: flex;
  margin: 0 auto;
}

.scroll-area {
  height: 100vh;
}

.note {
  margin: 14px 20px 10px;
  background-color: #fff;
  font-size: 16px;
}

.loginpage {
  height: 100vh;
  background: url(./images/loginbackground.gif) center center no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.loginpage .loginlogo {
  text-align: center;
  margin-bottom: 20px;
}
.loginpage form {
  background-color: #fff;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  box-shadow: 0 2px 3px 3px #f6f5f5;
}
.postcreate,
.userprofile {
  min-height: 100vh;
  background: linear-gradient(to bottom, rgb(71, 158, 254), rgb(64, 190, 254));
}
.postcreate .postcreatebox,
.userprofile .userprofilebox {
  background-color: #fff;
}
.postcreate .postcreatebox form,
.userprofile .userprofilebox form {
  padding: 0 30px 30px;
}
.postcreate .postcreatebox form > div:nth-of-type(1) label,
.postcreate .postcreatebox form > div:nth-of-type(2) label,
.postcreate .postcreatebox form > div:nth-of-type(3) label,
.postcreate .postcreatebox form > div:nth-of-type(4) label,
.postcreate .postcreatebox form > div:nth-of-type(5) label,
.postcreate .postcreatebox form > div:nth-of-type(6) label,
.postcreate .postcreatebox form > div:nth-of-type(7) label,
.postcreate .postcreatebox form > div:nth-of-type(8) label,
.userprofile .userprofilebox form label {
  padding: 6px 24px !important;
  border-radius: 0 24px;
  background: linear-gradient(to right, rgb(71, 158, 254), rgb(64, 190, 254));
  color: #fff;
  margin-bottom: 4px;
}
.postcreate .postcreatebox form label,
.userprofile .userprofilebox form label {
  padding: px;
}
.postcreate .postcreatebox .title,
.userprofile .userprofilebox .title {
  padding: 10px 30px;
  border-radius: 0 0 30px 30px;
  background: linear-gradient(to right, rgb(71, 158, 254), rgb(64, 190, 254));
  color: #fff;
  width: 400px;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.postcreate .postcreatebox .title img,
.userprofile .userprofilebox .title img {
  width: 24px;
  height: 24px;
  margin-right: 6px;
  vertical-align: sub;
}
.postcreate .postcreatebox .title h2 {
  display: inline-block;
}

.like_dislike {
  margin-right: 400px;
}
.job-container {
  background-color: rgba(133, 127, 194, 0);
  position: fixed;
  top: 29vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  align-self: center;
  width: 80%;
  height: 30%;
  border-radius: 10px;
  box-shadow: 3px 10px 10px rgba(255, 239, 239, 0.003);
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  flex-direction: column;
  margin: auto;
  left: 5%;
  right: 5%;

}

.job-list {
  background-color: rgba(190, 190, 190, 0);

  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  align-self: center;
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.job-card {
  width: 18%;
  height: 24vh;
  background-color: white(0, 0, 255, 0.283);
  display:flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.pagination {
  left: 5%;
  right: 5%;  
  margin: auto;

}

.Upload_div {
  position: relative;
}
.Upload__Input {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  opacity: 0;
}

